@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lora', serif;
    text-align: center;
}

.intro-image{
    background-attachment: fixed;
    background-image: url('../img/image1.jpg');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__text a {
    background-color: #474948b5;
    border: 2px solid #474948;
    color: #d2cbcc;
    text-decoration: none;
    display: inline-block;
    padding: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.intro-image__text a:hover {
    transform: scale(1.2);
}

.intro-text {
    background-color: #444c4b;
    color: #e0d7c6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
    clip-path: polygon(51% 20%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
    margin-top: -3.2rem;
    margin-bottom: -0.1rem;
}

.intro-text__textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.packaging-image{
    background-attachment: fixed;
    background-image: url('../img/image2.jpg');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.packaging-image__text a {
    background-color: #331e10b6;
    border: 2px solid #331e10;
    color: #b29d86;
    text-decoration: none;
    display: inline-block;
    padding: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.packaging-image__text a:hover {
    transform: scale(1.2);
}

.packaging-text {
    clip-path: polygon(51% 20%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
    margin-top: -3.2rem;
    background-color:#5c3420;
    color: #ecb493;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem
}

.packaging_text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.tutorials-image{
    background-attachment: fixed;
    background-image: url('../img/image3.jpeg');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorials-image__text a {
    background-color:#936b449c;
    border: 2px solid #936c44;
    color:#eec88f;
    text-decoration: none;
    display: inline-block;
    padding: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.tutorials-image__text a:hover {
    transform: scale(1.2);
}

.footer{
    height: 250px;
    background-color:#b79754;
    color: rgb(228, 214, 214);
    font-size: 1.5rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: rgb(228, 214, 214);
    text-decoration: none;
}

.footer ul li:hover {
    transform: scale(1.5);
}